header {background-color: black; text-align: center;}

h2 {color:white; font-size: 40px;
font-family: 'Courier New', Courier, monospace;background-color: rgb(3, 55, 114);
width: 85%;float: left; }

img{width: 15%;}

main{background-color:  rgb(3, 55, 114); padding: 25px;}

h3{color: white ;      text-align: center;font-size: 25px;}
H4{color:red; font-size: 20px;}
p {font-size: 15px; }

footer {background-color: black; color: blue; text-align:right; height:40px ;}
#f{font-size: 12px;vertical-align: center;font-family: monospace;}

p {margin: 0;}

div {
    width: 80%; margin:auto;
}

